<?xml version="1.0" encoding="utf-8"?>
<Media Key="3f47d75f-0a6d-4074-8017-5df686ed40ee" Alias="About" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/About</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2022-10-21T10:14:44</CreateDate>
    <NodeName Default="About" />
    <SortOrder>3</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/lhlfop1n/about.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>