<?xml version="1.0" encoding="utf-8"?>
<Media Key="537cbb53-c5fb-47e8-9de5-bf63c5decf91" Alias="Blog" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Blog</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2022-10-21T10:55:17</CreateDate>
    <NodeName Default="Blog" />
    <SortOrder>5</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/kw3hyu51/blog.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>