<?xml version="1.0" encoding="utf-8"?>
<Media Key="3cfde433-b7cb-478e-904b-6a11f7003d88" Alias="Dog" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Dog</Path>
    <Trashed>false</Trashed>
    <ContentType>File</ContentType>
    <CreateDate>2022-10-20T11:06:54</CreateDate>
    <NodeName Default="Dog" />
    <SortOrder>0</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/fpsp0pgl/dog.avif]]></Value>
    </umbracoFile>
  </Properties>
</Media>