<?xml version="1.0" encoding="utf-8"?>
<Media Key="5c679976-0bfc-46e9-82c6-bb256216fa60" Alias="Enduro" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Enduro</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2022-10-24T10:51:44</CreateDate>
    <NodeName Default="Enduro" />
    <SortOrder>6</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/ocmhoxh2/enduro.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>