<?xml version="1.0" encoding="utf-8"?>
<Media Key="e24236e7-1e97-44d8-b6f8-ee10752d4c92" Alias="Home" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Home</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2022-10-21T10:14:22</CreateDate>
    <NodeName Default="Home" />
    <SortOrder>2</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/2e1efyux/home.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>