<?xml version="1.0" encoding="utf-8"?>
<Media Key="67e21895-7155-4a77-97c3-17b59c1fdd3d" Alias="Rally" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Rally</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2022-10-24T11:29:06</CreateDate>
    <NodeName Default="Rally" />
    <SortOrder>7</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/smmoez0v/rally.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>