<?xml version="1.0" encoding="utf-8"?>
<Media Key="89b0c823-c0bb-434e-8b5c-8ecb0d0d8e97" Alias="Travel" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Travel</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2022-10-24T11:32:51</CreateDate>
    <NodeName Default="Travel" />
    <SortOrder>8</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/exelbcn1/travel.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>