<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="28a143c3-5a79-41de-b073-673dab2ba76e" Alias="articleListPage" Level="2">
  <Info>
    <Name>Article List Page</Name>
    <Icon>icon-thumbnail-list color-cyan</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description>A list of articles or blog posts</Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Pages</Folder>
    <Compositions>
      <Composition Key="da16d188-8482-4539-b062-62a2db092603">contentProperties</Composition>
      <Composition Key="fc1fdc64-b83c-4eb3-bc61-e1cc8cbf2a96">headerProperties</Composition>
      <Composition Key="cbac51c2-9ae6-46be-9933-f4822ca884b5">visibilityProperties</Composition>
    </Compositions>
    <DefaultTemplate>ArticleListPage</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="f513ba58-0c7f-4396-ab4d-549b3ab7a5d1">ArticleListPage</Template>
    </AllowedTemplates>
  </Info>
  <Structure />
  <GenericProperties />
  <Tabs />
</ContentType>