<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="f70fc0e8-0014-475b-bdbd-7270cba6db24" Alias="contactPage" Level="2">
  <Info>
    <Name>Contact Page</Name>
    <Icon>icon-old-phone color-cyan</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description>A page with contact details for this website owner</Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Pages</Folder>
    <Compositions>
      <Composition Key="aad772f9-4e77-4033-a8e5-ce4c3952eb85">contactForm</Composition>
      <Composition Key="da16d188-8482-4539-b062-62a2db092603">contentProperties</Composition>
      <Composition Key="fc1fdc64-b83c-4eb3-bc61-e1cc8cbf2a96">headerProperties</Composition>
      <Composition Key="cbac51c2-9ae6-46be-9933-f4822ca884b5">visibilityProperties</Composition>
    </Compositions>
    <DefaultTemplate>ContactPage</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="7199354c-1d64-4388-b81c-ca63e46f4cdc">ContactPage</Template>
    </AllowedTemplates>
  </Info>
  <Structure />
  <GenericProperties />
  <Tabs />
</ContentType>