<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="e49de31a-2218-4a41-b346-bf1bf9ea07d7" Alias="homePage" Level="2">
  <Info>
    <Name>Home Page</Name>
    <Icon>icon-home color-cyan</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>True</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Pages</Folder>
    <Compositions>
      <Composition Key="040e9fe7-3317-47fb-b000-c250abbab729">footerProperties</Composition>
      <Composition Key="fc1fdc64-b83c-4eb3-bc61-e1cc8cbf2a96">headerProperties</Composition>
      <Composition Key="e9eccea9-4f8b-4e76-975c-adeefa28bcf0">siteNavigationProperties</Composition>
    </Compositions>
    <DefaultTemplate>HomePage</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="ffa76675-a16c-4afc-ba42-cec6299408b7">HomePage</Template>
    </AllowedTemplates>
  </Info>
  <Structure>
    <ContentType Key="c2bdebea-282b-44a1-b44d-eac2cc3b05e1" SortOrder="0">contentPage</ContentType>
    <ContentType Key="28a143c3-5a79-41de-b073-673dab2ba76e" SortOrder="1">articleListPage</ContentType>
    <ContentType Key="f70fc0e8-0014-475b-bdbd-7270cba6db24" SortOrder="2">contactPage</ContentType>
  </Structure>
  <GenericProperties />
  <Tabs />
</ContentType>