<?xml version="1.0" encoding="utf-8"?>
<DataType Key="fe3b17d9-5422-4a40-86a7-7d00f7d1dbaf" Alias="[BlockList] Accordion List" Level="1">
  <Info>
    <Name>[BlockList] Accordion List</Name>
    <EditorAlias>Umbraco.BlockList</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "Blocks": [
    {
      "backgroundColor": null,
      "contentElementTypeKey": "cd5f8740-2c48-4d49-be44-aa5c044599f6",
      "editorSize": "medium",
      "forceHideContentEditorInOverlay": false,
      "iconColor": null,
      "label": "{{ title != '' ? title : 'Accordion Item ' + $index }} {{ $settings.hide == '1' ? '[HIDDEN]' : '' }}",
      "settingsElementTypeKey": "89f22cc1-a3ae-43bd-a237-d75fbb203880",
      "stylesheet": null,
      "thumbnail": null,
      "view": null
    }
  ],
  "MaxPropertyWidth": null,
  "UseInlineEditingAsDefault": true,
  "UseLiveEditing": false,
  "ValidationLimit": {
    "max": null,
    "min": null
  }
}]]></Config>
</DataType>