<?xml version="1.0" encoding="utf-8"?>
<DataType Key="6649187b-865f-4c7e-9bdc-6e9fe8235d5b" Alias="[BlockList] Image Links" Level="1">
  <Info>
    <Name>[BlockList] Image Links</Name>
    <EditorAlias>Umbraco.BlockList</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "Blocks": [
    {
      "backgroundColor": null,
      "contentElementTypeKey": "798d1082-2d53-4d5e-9f32-03b1624b0e2f",
      "editorSize": "medium",
      "forceHideContentEditorInOverlay": false,
      "iconColor": null,
      "label": "{{ title != '' ? title : 'Image link ' + $index }} {{ $settings.hide == '1' ? '[HIDDEN]' : '' }}",
      "settingsElementTypeKey": "26034fd7-5541-45ac-871f-ef2124cc33ab",
      "stylesheet": null,
      "thumbnail": null,
      "view": null
    }
  ],
  "MaxPropertyWidth": null,
  "UseInlineEditingAsDefault": true,
  "UseLiveEditing": false,
  "ValidationLimit": {
    "max": null,
    "min": null
  }
}]]></Config>
</DataType>