<?xml version="1.0" encoding="utf-8"?>
<DataType Key="b9f413f4-2725-434a-85da-0c8c4cf76b8c" Alias="[Nested] Navigation List Item" Level="1">
  <Info>
    <Name>[Nested] Navigation List Item</Name>
    <EditorAlias>Umbraco.NestedContent</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "ConfirmDeletes": true,
  "ContentTypes": [
    {
      "nameTemplate": "{{title}}",
      "ncAlias": "navigationItem",
      "ncTabAlias": "Content Group"
    }
  ],
  "ExpandsOnLoad": true,
  "HideLabel": false,
  "MaxItems": null,
  "MinItems": null,
  "ShowIcons": true
}]]></Config>
</DataType>