<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="5729217e-6951-4e55-8978-6982447996f1" Alias="Footer.CopyrightTitle" Level="1">
  <Info>
    <Parent>Footer</Parent>
  </Info>
  <Translations>
    <Translation Language="en-US">Copyright. All rights reserved.</Translation>
  </Translations>
</Dictionary>