<?xml version="1.0" encoding="utf-8"?>
<Content Key="36d19bc1-4614-4df0-ab33-7060b4ac6946" Alias="Blog" Level="2">
  <Info>
    <Parent Key="0d250c15-5b0a-4d29-ab07-b0bd9cfe29bd">Home</Parent>
    <Path>/Home/Blog</Path>
    <Trashed>false</Trashed>
    <ContentType>articleListPage</ContentType>
    <CreateDate>2022-10-21T10:49:02</CreateDate>
    <NodeName Default="Blog" />
    <SortOrder>1</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="f513ba58-0c7f-4396-ab4d-549b3ab7a5d1">ArticleListPage</Template>
  </Info>
  <Properties>
    <bodyText>
      <Value><![CDATA[]]></Value>
    </bodyText>
    <mainImage>
      <Value><![CDATA[[
  {
    "key": "d38f442c-1493-4f9a-b208-d39b17a8598f",
    "mediaKey": "537cbb53-c5fb-47e8-9de5-bf63c5decf91"
  }
]]]></Value>
    </mainImage>
    <subtitle>
      <Value><![CDATA[]]></Value>
    </subtitle>
    <title>
      <Value><![CDATA[]]></Value>
    </title>
    <umbracoNaviHide>
      <Value><![CDATA[]]></Value>
    </umbracoNaviHide>
  </Properties>
</Content>