<?xml version="1.0" encoding="utf-8"?>
<Content Key="7566c513-bab0-49a3-9275-a650c941aafd" Alias="Contact" Level="2">
  <Info>
    <Parent Key="0d250c15-5b0a-4d29-ab07-b0bd9cfe29bd">Home</Parent>
    <Path>/Home/Contact</Path>
    <Trashed>false</Trashed>
    <ContentType>contactPage</ContentType>
    <CreateDate>2022-10-21T10:49:12</CreateDate>
    <NodeName Default="Contact" />
    <SortOrder>2</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="7199354c-1d64-4388-b81c-ca63e46f4cdc">ContactPage</Template>
  </Info>
  <Properties>
    <bodyText>
      <Value><![CDATA[]]></Value>
    </bodyText>
    <mainContent>
      <Value><![CDATA[]]></Value>
    </mainContent>
    <mainImage>
      <Value><![CDATA[[
  {
    "key": "bf49614a-6041-4444-ad44-1bfb18ecbef7",
    "mediaKey": "777924b4-fe8f-4eed-b9a6-ef6419b48bb5"
  }
]]]></Value>
    </mainImage>
    <subtitle>
      <Value><![CDATA[]]></Value>
    </subtitle>
    <title>
      <Value><![CDATA[Contact Me]]></Value>
    </title>
    <umbracoNaviHide>
      <Value><![CDATA[0]]></Value>
    </umbracoNaviHide>
  </Properties>
</Content>