<?xml version="1.0" encoding="utf-8"?>
<Content Key="0d250c15-5b0a-4d29-ab07-b0bd9cfe29bd" Alias="Home" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Home</Path>
    <Trashed>false</Trashed>
    <ContentType>homePage</ContentType>
    <CreateDate>2022-10-20T10:42:41</CreateDate>
    <NodeName Default="Home" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="ffa76675-a16c-4afc-ba42-cec6299408b7">HomePage</Template>
  </Info>
  <Properties>
    <footerSocialLinks>
      <Value><![CDATA[[
  {
    "network": "github",
    "name": "GitHub",
    "url": "https://github.com/dimitarv23"
  },
  {
    "network": "linkedin",
    "name": "LinkedIn",
    "url": "https://www.linkedin.com/authwall?trk=gf&trkInfo=AQGVLG0oB_pWlwAAAYQIlkKAf56Vfz4OC3Y69loO8DdlSAuK94CmQ6RmYT-L7kFncWzyLxqzTZa25pP_nYmsg-ULSemE6fjpeQHpmiETPtwfcWWfoBR4opqS9Ti_YSMVFGhjxaQ=&original_referer=https://github.com/&sessionRedirect=https%3A%2F%2Fwww.linkedin.com%2Fin%2Fdimitar-vasilev-a38b65235%2F"
  },
  {
    "network": "instagram",
    "name": "Instagram",
    "url": "https://www.instagram.com/dimitarv__"
  }
]]]></Value>
    </footerSocialLinks>
    <mainImage>
      <Value><![CDATA[[
  {
    "key": "533453b2-c22c-46b0-85f2-aed0217a8a13",
    "mediaKey": "e24236e7-1e97-44d8-b6f8-ee10752d4c92"
  }
]]]></Value>
    </mainImage>
    <mainNavigation>
      <Value><![CDATA[[
  {
    "key": "4998c0e4-3b15-485d-a2b9-9db30a75b194",
    "name": "Home",
    "ncContentTypeAlias": "navigationItem",
    "PropType": null,
    "title": "Home",
    "link": "[{\"name\":\"Home\",\"udi\":\"umb://document/0d250c155b0a4d29ab07b0bd9cfe29bd\"}]",
    "childLinks": null
  },
  {
    "key": "760dbb07-3ba1-4d96-858c-3cf6c10a8ee8",
    "name": "About",
    "ncContentTypeAlias": "navigationItem",
    "PropType": null,
    "title": "About",
    "link": "[{\"name\":\"About\",\"udi\":\"umb://document/4d0ce1df1c4f430692d4cb05c48525e2\"}]",
    "childLinks": null
  },
  {
    "key": "d206ba93-a94e-48ba-a4fe-93bbe36893ff",
    "name": "Blog",
    "ncContentTypeAlias": "navigationItem",
    "PropType": null,
    "title": "Blog",
    "link": null,
    "childLinks": "[{\"name\":\"Blog\",\"udi\":\"umb://document/36d19bc146144df0ab337060b4ac6946\",\"queryString\":\"#testing1\"},{\"name\":\"Most Popular\",\"url\":\"\",\"queryString\":\"#testing2\"},{\"name\":\"Latest Blog Posts\",\"url\":\"\",\"queryString\":\"#testing3\"}]"
  },
  {
    "key": "edd9084b-87d4-4346-84bb-7812eae9f9ee",
    "name": "Contact",
    "ncContentTypeAlias": "navigationItem",
    "PropType": null,
    "title": "Contact",
    "link": "[{\"name\":\"Contact\",\"udi\":\"umb://document/7566c513bab049a39275a650c941aafd\"}]",
    "childLinks": null
  }
]]]></Value>
    </mainNavigation>
    <subtitle>
      <Value><![CDATA[A blog website for Dimitar Vasilev]]></Value>
    </subtitle>
    <title>
      <Value><![CDATA[Mite's Site]]></Value>
    </title>
  </Properties>
</Content>